<ion-header>
  <ion-toolbar>
    <ion-title>
      Scan your products!
    </ion-title>
  </ion-toolbar>
</ion-header>

     
  <ion-content  class="ion-padding">
  
    <ion-list>
  
      <ion-item>
        <ion-label fixed>Number</ion-label>
        <ion-input type="text" value="" [(ngModel)]="barnum"></ion-input>
      </ion-item>
   
   <ion-item>
        <button ion-button (click)="scan()">Button</button>
      </ion-item>
    
    <!--
    <ion-item>
        <ion-label position="stacked">What\'s your name?</ion-label>
        <ion-input [(ngModel)]="product.name" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">What\'s your name?</ion-label>
          <ion-input [(ngModel)]="product.brand" placeholder="Brand"></ion-input>
        </ion-item>
      <ion-item>
        <ion-label position="stacked">What are your special skills (comma separated)?</ion-label>
        <ion-input [(ngModel)]="product.valuation" placeholder="valuation"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ingredients</ion-label>
        <ion-input [(ngModel)]="product.ingredients" placeholder="ingredients list"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addproduct()">Add Developer Info</ion-button>
    -->
    </ion-list>
</ion-content>
